.sidebar {
    position: fixed;
    background-color: white;
    left: 0;
    bottom: 0;
    top: 55px;
    width: 78px;
    z-index: 200;

}

.sidebar-link {
    height: 76px;
    display: flex;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;



}

.sidebar-link:hover {
    background-color: rgb(210, 210, 210);


}

.sidebar-link img {
    height: 24px;

}

.sidebar-link div {
    font-size: 10px;
    font-family: Roboto, Arial;
}